body {
    margin: 0; /* Remova as margens padrão do corpo */
    padding: 0; /* Remova o preenchimento padrão do corpo */
}

header {
    background-color: #fff;
    height: 80px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; /* Alinha os itens à esquerda e à direita */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    padding: 10px 20px;
}

.nav li {
    margin-right: 20px;
}

/* Estilo para os links de navegação */
.nav li a {
    color: #000000;
    text-decoration: none;
}

.pagina-inicial {
    background-color: #FFF0F0;
    background-image: url(src/linhas.png);
    background-size: 100%;
    width: auto;
    height: 700px;
}

.linha {
    width: 17px;
    height: 3px;
    background: #DF2E38;
}

.container {
    display: flex;
    align-items: center;
    padding: 20px; /* Adicione algum preenchimento para espaçamento interno */
}