@import url(style.css);

#section__formulario {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    width: 50%;
    margin-top: 100px;
    margin-bottom: 100px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea {
  overflow: auto;
  width: 800px;
  resize: vertical;
}

#column_duvida {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box {
    width: 100%;
}

.informacao3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #999;
    transition: all 0.3s ease;
    font-family: var(--font-primary);

}

.label-focus {
  color: var(--primary-color); /* Mude isso para a cor que desejar */
}

.campo-texto {
  font-family: var(--font-primary);
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#pergunta {
    height: 100px;
    width: 100%;
}

#send {
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--primary-color);
    font-family: var(--font-primary);
    color: white;
    border: none; /* Removendo a borda */
}

.campo-texto:focus {
    background-color: #ffd4bb21;
    outline: none;
    border-color: var(--primary-color);
}

.campo-texto:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
