@import url(style.css);

.section__equipe {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-perfil{
    width: 250px;
    height: 100%;
    margin-left: 80px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membro {
    font-family: var(--font-primary);
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 5px;
}

.funcao {
    font-family: var(--font-primary);
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 10px;
}

.perfil {
    width: 250px;
    height: 250px;
    background-color: aqua;
    border-radius: 50%;
}

.coluna {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100vh;
}

.informacao4 {
    margin-top: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.line-equipe {
    width: 100px;
    height: 3px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
}

.paragrafo {
display: flex;
flex-direction: column;
align-items: center;
width: 90%;
margin-bottom: 40px;
}

.legenda {
    margin-top: 20px;
}

.titulo_equipe {
    font-family: var(--font-primary);
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
}

.subtitulo_equipe {
    font-family: var(--font-primary);
    font-size: 1.2em;
    width: 100%;
    }

.custom-linkedin-icon {
    color: var(--primary-color);
    font-size: 24px; /* Tamanho do ícone */
}

