@import url(style.css);


.section__inicio {
    display: flex;
    height: 100%;
    align-items: center;
}

.btn-download {
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;

}

.apresentacao__coluna {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.btn-download__img {
    width: 40%; /* Alterado */
    height: auto; /* Alterado */
}

.header__menu {
   display: flex;
   justify-content: space-between;
   margin-left: 50px;
   margin-right:50px;
   width: 100%;
}

.header__personalizado  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150vh;
}

h1 {
    font-size: 4rem;
    color: #fff;
    font-family: var(--font-primary);
    font-weight: 500;
    width: 52;
    margin-top: -8px;
    margin-bottom: 25px;
}

h4 {
    font-size: 1.2rem;
    color: #fff;
    font-family: var(--font-primary);
    font-weight: 400;
}
.inicio__coluna {
    margin-left: 30px;
    align-items: center;
}


.line__inicio {
    width: 1%; /* Largura mínima */
    height: 100%;
    background-color: var(--primary-color);
}

.line {
    width: 1%; /* Largura mínima */
    height: 100px;
    background-color: var(--primary-color);
}

.informacao1 {
    display: flex;
    margin-left: 20%;
    height: 30%;
    width:800px;
    align-items: center;
}

.informacao2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


.sobre__quadro {
    display: flex;
}
.quadro__topico {
    width: 270px;
    height: 400px;
    background-color: var(--primary-color);
}

.quadro {
    width: 80%; /* ou outra porcentagem que se adapte melhor à sua interface */
    max-width: 280px; /* Define uma largura máxima para garantir que não ultrapasse 280px */
    height: 400px; /* 60% da altura do viewport */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.quadro__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

#quadro1 {
    background-image: url(../img/photo-time.png);
    background-size: cover;
}

#quadro2 {
    background-image: url(../img/photo-contato.png);
    background-size: cover;
}

.quadro__titulo {
    font-size: 2em;
    color: #fff;
    font-family: var(--font-primary);
    font-weight: 500;
    margin-top: 10px;
}

.quadro__subtitulo {
    font-size: 1em;
    color: #fff;
    font-family: var(--font-primary);
    font-weight: 300;
    margin-top: 10px;

}

.quadro__saibamais {
    display: flex;
    justify-content: flex-end; /* Para alinhar o botão no final */
    margin-top: 20px;
}

.quadro__botao {
    width: 100px;
    height: 50px; /* Altura do botão igual à altura do contêiner */
    background-color: var(--primary-color);
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadro__division {
    margin: 25px;
}

#section__sobre {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#section__aplicativo {
    background-color: var(--tertinary-color);
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

#aplicativo__quadro{
    width:40%;
    display: flex;
    justify-content: center;
}

#aplicativo__celular {
    width: 50%;
}