@import url(style.css);


section {
    width: 100%;
    height: 80vh;
}

#section__inicio {
    display: flex;
}

.btn-download {
    background-color: white;
    height: 45px;
    width: 45px;
    margin-left: 60vh; /*modificar para se ajustar na resposividade*/
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;

}

#btn-download__img {
    width: 40%; /* Alterado */
    height: auto; /* Alterado */
}

.header__menu {
   display: flex;
   margin-left: 50px;
   margin-right:50px;
   width: 100vh;
}

.header__personalizado  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150vh;
}

h1 {
    font-size: 3rem;
    color: #fff;
    font-family: var(--font-primary);
    font-weight: 500;
    width: 52;
    margin-top: -8px;
    margin-bottom: 25px;
}

h4 {
    font-size: 1rem;
    color: #fff;
    font-family: var(--font-primary);
    font-weight: 400;
}
.inicio__coluna {
    margin-left: 30px;
    align-items: center;
}

#line__inicio {
    width: 7px;
    height: 100px;
    background-color: var(--primary-color);
}

.line {
    width: 7px;
    height: 100px;
    background-color: var(--primary-color);
}

#informacao1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:19%;
}

.informacao2 {
    margin-top: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.sobre__quadro {
    display: flex;
    margin-left:12%;
}
.quadro__topico {
    width: 270px;
    height: 400px;
    background-color: var(--primary-color);
    justify-content: flex-end;
}

.quadro {
    width: 280px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.quadro__icon {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

#quadro1 {
    background-image: url(../img/photo-time.png);
    background-size: cover;
}

#quadro2 {
    background-image: url(../img/photo-contato.png);
    background-size: cover;
}

.quadro__titulo {
    font-size: 2em;
    color: #fff;
    font-family: var(--font-primary);
    font-weight: 500;
    margin-top: 10px;
}

.quadro__subtitulo {
    font-size: 1em;
    color: #fff;
    font-family: var(--font-primary);
    font-weight: 300;
    margin-top: 10px;

}

.quadro__saibamais {
    display: flex;
    justify-content: flex-end; /* Para alinhar o botão no final */
    margin-top: 20px;
}

.quadro__botao {
    width: 100px;
    height: 50px; /* Altura do botão igual à altura do contêiner */
    background-color: var(--primary-color);
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quadro__division {
    margin: 25px;
}

#section__sobre {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

#section__aplicativo {
    background-color: var(--tertiary-color);
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

#aplicativo__quadro{
    width:560px;
    display: flex;
    justify-content: center;
}

#aplicativo__celular {
    width: 300px;
}