@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #E8854A;
  --secondary-color: #000;
  --tertinary-color: #24170E;
  --quaternary-color: #BF9D77;
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Cormorant Garamond', sans-serif;
}

body {
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
.logo {
    font-size: 2.5em;
    letter-spacing: 2px;
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 700;
}
  
  nav {
    padding: 10px;
    display: flex;
    font-size: 1.2em;
    align-items: center;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    height: 20vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 70px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  .titulo {
    font-size: 2.5em;
    font-family: var(--font-primary);
    font-weight: 500;
    width: 90%;
    margin-left: 30px;
}

.subtitulo {
    font-family: var(--font-primary);
    font-size: 1.2em;
    width: 65%;
    margin-top: 25px;
    margin-left: 35px;
}

  .row {
    display: flex;
    width: 90%;
    height: 20%;
  }

  
  /*Quando a tela diminuir*/
  @media (max-width: 999px) { 
    body {
      overflow-x: hidden;
    }

    .header__menu__personalizado {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%;
    }
    
    .nav-list  {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #a37b2f;
      opacity: 0.9;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }

    .informacao2 {
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
  }
  

  .quadro {
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: none; /* Remove a largura máxima */
    height: auto; /* Altura automática de acordo com o conteúdo */
}
.titulo {
  font-size: 2.4em; /* Reduz o tamanho do título para dispositivos menores */
  width: 100vh; /* Ocupa toda a largura disponível */
}

.subtitulo {
  font-size: 1.7em; /* Reduz o tamanho do subtítulo para dispositivos menores */
  margin-left: 0; /* Remove a margem esquerda para ocupar a largura total */
  width: 50vh; /* Ocupa toda a largura disponível */
  margin-top: 15px; /* Reduz a margem superior para um espaçamento mais compacto */
  margin-left: 35px;
}

.apresentacao__coluna {
  display: flex;
  width: 100vh; /* Ocupa toda a largura disponível */
  margin-bottom: 30px;
  justify-self: start;

}

.row {
  width: 100%;
}

  }
  


  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

