@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url('../img/background.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.logotipo {
    height: 120px;
    width: 120px;
}

header {
    margin: 0 100px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1vw;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    margin: 20px;
}

.header__ancora {
    text-decoration: none;
    color: white;
    font-size: 1vw;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    margin: 20px;
}

#section__apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin-bottom: 65px;
}


h1{
    font-size: 4vw;
    width: 900px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    text-align: center;
    color: white;
    margin-bottom: 0;
}

#section__apresentacao__subtitulo {
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: white;
    text-align: center; /* Added property */

}
strong {
    color:var(--color-secondary);
}

#section__apresentacao__btn-espaco {
    margin: 20px;
}
.btn-conhecer {
    background-color: var(--color-secondary);
    color: white;
    border: none;
    padding: 12.5px 30px;
    font-size: 1vw;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    border-radius: 100px;
    margin-top: 20px;
    cursor: pointer;

}

.btn-conhecer:hover {
    background-color: var(--color-primary);
}

#btn-download {
    background-color: none;
    color: white;
    border: 1px solid white;
    padding: 12.5px 30px;
    font-size: 1vw;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    border-radius: 100px;
    margin-top: 20px;
    cursor: pointer;

}

.section__conteudo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 90vh;
    width: 100%;

}

.section__conteudo__aplicativo {
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    height: 100%;
}


.section__conteudo__descricao {
    margin: 20px;
}

.subtitulo {
    color: var(--color-primary);
    font-size: 2vw;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.subtitulo-branco {
    color: white;
    font-size: 2vw;
    font-family: 'Inter', sans-serif;
    font-weight: 500;

}
.descricao {
    color: black;
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    width: 500px;
    margin-bottom: 30px;
    margin-top: 20px;

}

.texto-centralizado {
    color: black;
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    width: 500px;
    text-align: center;
}
.descricao__funcionalidade {
    color: black;
    font-size: 1vw;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    width: 200px;
    margin: 0;
}

.descricao-branco {
    color: white;
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    width: 500px;
}

.section__conteudo__imagem {
    border-radius: 20px;
}

/*FUNCIONALIDADES*/
#section__funcionalidades {
    background-color: #B28451;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 90%;
    margin: 0 auto;
}

.funcionalidades__background {
    background-color: white;
    justify-content: center;
    align-items: center;
}

#section__funcionalidades__itens {
    margin: 0 100px 0 0;
    display: flex;
    align-items: center;
    height: 100%;
}


#section__funcionalidades__cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}

#section__funcionalidade__celular{
    width: 25%;
}

.nav-link.active {
    background-color: white !important;
    color: var(--color-primary) !important; /* Alterar a cor do texto para branco */
}

.nav-link {
    color: white !important;
    margin: 0 auto;

    
}

.section__funcionalidades__itens {
    margin: 0 0 0 0;
    display: flex;
}

/*VÍDEO*/

.card {
    width: 180px;
    height: 200px;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    background-color: white; /* Alterado para branco */
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adicionado efeito de elevação */
}


video {
    width: 102vh;
    height: 70vh;
    object-fit: cover;
    border-radius: 20px;
    margin-top:20px;
    
}

#section__video {
    background-color: white;
    height: 110vh; /* Ajustado para ocupar a altura total da tela */
    width: 100%;
    display: flex;
    justify-content: center;


}

.video__titulo {
    display: flex;
    flex-direction: column;
}

.btn-saiba {
    background-color: var(--color-secondary);
    color: white;
    border: none;
    padding: 12.5px 30px;
    font-size: 1vw;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    border-radius: 100px;
    cursor: pointer;
    margin: 0 auto;
}


#section__video__texto {
    flex-direction: flex-start;
    display: flex;
    flex-direction: column;
}

.section__video__itens {
    width:90%;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    justify-content: space-between;
}

footer {
    background-color: var(--color-tertiary);
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.titulo {
    color: black;
    font-size: 1.5vw;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    width: 200px;
}

#section__equipe {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.section__equipe__itens {
    height: 100%;
    width: 90%;
    margin:100px;
}
:root {
    --color-primary: #E7854B;
    --color-secondary: #FF9857;
    --color-tertiary: #291D16;
}
@media (max-width: 768px) {
    body, html {
        height: auto;
    }

    h1 {
        font-size: 8vw;
        width: auto;
    }

    a, .header__ancora {
        font-size: 3vw;
    }

    #btn-conhecer, #btn-download {
        font-size: 2vw;
    }
}
